.right {
    float: right;
}

.left {
    float: left;
}

#nav {
    display: block;
    background-color:white;
    display:inline-block;
    width: 100vw;
    border: 5px;
    border-radius: 5px;
    margin: 6px;
}

body {
    font-family: ;
    background-color: white;
}

#quizBody {
    text-align: center;
    padding: 12vh;
}

h4 {
    padding: 10px, 8px, 10px, 8px;
}

a {
    text-decoration: ;
    color: black;
}

button {
    border: ;
    background-color: blue;
    color: black;
    border-radius: 5px;
    padding: 10px, 8px, 10px, 8px;
    font-size: 17px;
    font-family: ;
    margin: 4px;
}

button:hover {
    transition-duration: .5s;
    background-color: ;
}

#quiz {
    text-align: ;
}